#passwordUpdate{
	background:#fff;
	
	#WC_PasswordUpdateForm_div_2{
	
	background:#FAF8F7;
	
	}
	#WC_PasswordUpdateForm_div_4{
		margin-left:15px;
	}
	.bottomBackground{
		background:#FAF8F7;
		height:44px;	
	}
	.error_msg{
		margin-left:15px;
	}
	
}